.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

ul, li {
  list-style: none;
}

div, ul, li {
  /*box-sizing: border-box;*/
}

/*修改element ui默认样式*/
.el-menu-item-group__title {
  display: none;
}

.el-submenu .el-menu-item {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}

.el-form--inline .el-form-item__label {
  float: left;
}

.el-main {
  line-height: 50px !important;
}

.el-table th {
  text-align: center;
}

a {
  text-decoration: none;
}

.el-form--inline .el-form-item__content {
  /*width:150px;*/
}

.el-textarea {
  width: 80%;
}

/*表格颜色*/
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
/*.el-button--text{*/
  /*color:#000;*/
/*}*/
/*.el-button--text:focus, .el-button--text:hover{*/
  /*color:#000;*/
/*}*/
/*表格内按钮单行显示样式*/
.el-button--text{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 160px;
  line-height: 50px;
  padding:0;

  /*background-color: pink;*/
}
/*表格内单行显示样式*/
.el-table .cell{
  line-height: 50px;
  height:50px;
  box-sizing: border-box;
}
.el-table .cell>div{
  /*background-color: green;*/
  max-width:160px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  height:50px;
  padding-top:0;
  cursor:pointer;
}
.el-table .cell button{
  border:none;
}
/*表格样式*/
.el-table td,.el-table th{
  padding:0;
}
